.col {
    align-self: center;
    justify-content: space-around;
    align-content: space-around;
    text-align: center;
    margin-left: 24px;
    margin-right: 24px;
}

.why-icon {
    margin-bottom: 13px;
    height: 72px;
    width: 72px;
}

.why-container {
    padding-top: 60px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-bottom: 4px;
}