.why-container {
    padding-top: 100px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-bottom: 4px;
}

.why-row {
    justify-content: center;
}

.why-column {
    align-self: center;
    justify-content: space-around;
    align-content: space-around;
    text-align: center;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 16px;
    min-width: 190px;
    max-width: 300px;
}

.why-icon {
    margin-bottom: 13px;
    height: 72px;
    width: 72px;
}

/*--------------------------------------------------------------
# MEDIA QUERIES 
--------------------------------------------------------------*/

@media screen and (max-width: 620px) {
    .why-column {
        min-width: 200px;
    }
}