form {
    position: static;
    z-index: 3;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: -270px;
    padding-bottom: 200px;
}

.form-styling {
    margin: 0 auto;
}

.form-control {
    border: none;
    font-size: 1rem;
}

.form-row {
    margin-left: 24px;
    margin-right: 24px;
}

.form-col {
    margin: 0 auto !important;
    max-width: 150px !important;
    min-width: 100px !important;
}

.btn-outline-primary {
    color: #FFFFFF;
    border-color: #B1D5C3;
    background-color: #B1D5C3;
}

.btn-outline-primary:hover {
    color: #FFFFFF;
    border-color: transparent;
    background-color: rgba(177, 213, 195, 0.5);
}