.flights-group {
    display: grid;
    grid-template-areas:
      "a b"
      "c b";
    margin: 20px;
}
  
.flights-row {
    display: flex;
    flex-direction: column !important;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: row;
}

.a {
    grid-area: a;
}

.b {
    grid-area: c;
}

.flights {
    flex-direction: row;
    width: 30vw;
}

.price {
    border: none;
    flex-direction: column;
    grid-area: b;
    justify-content: center;
}
  
.card-title {
    font-size: 1.5rem;
}

.book-button {
    width: 80px;
}
  
@media screen and (max-width: 767px){
    .card {
        min-width: 0!important;
    }
}