.flights-group {
    display: grid;
    grid-template-areas:
      "a b"
      "c b";
    margin: 20px;
}

.list-group {
    margin-left: 100px;
    margin-right: 100px;
}
  
.flights-row {
    display: flex;
    flex-direction: column !important;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: row;
}

.a {
    grid-area: a;
}

.b {
    grid-area: c;
}

.flights {
    flex-direction: row;
    width: 30vw;
}

.price {
    border: none;
    flex-direction: column;
    grid-area: b;
    justify-content: center;
}
  
.card-title {
    font-size: 1.5rem;
}

.book-button {
    width: 80px;
    color: #FFFFFF;
    border-color: #B1D5C3;
    background-color: #B1D5C3;
}

.book-button:hover {
    color: #FFFFFF;
    border-color: transparent;
    background-color: rgba(177, 213, 195, 0.7);
}
  
@media screen and (max-width: 767px){
    .card {
        min-width: 0!important;
    }
}