body {
  font-family: "Open Sans", sans-serif;
  color: #58595E;
}

a {
  color: #78C49A;
}

a:hover {
  color: #B1D5C3;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Muli", sans-serif;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f6f3f2;
}

.section-title {
  padding-bottom: 30px;
  text-align: center;
}

.section-title h2 {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #58595E;
}

.section-title h2 strong {
  font-weight: 700;
}

.section-title p {
  margin-bottom: 0;
}