.card-columns {
    align-self: center;
    justify-content: center;
    margin: 0 auto;
}

@media (min-width: 576px){
    .card-columns {
        column-count: 3;
        grid-column-gap: 0;
        column-gap: 0 auto;
        orphans: 1;
        widows: 1;
    }
}