.popular-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 60%;
    margin: 0 auto;
}

.popular .popular-row {
    z-index: 3;
    transition: all ease-in-out 0.3s;
}

.popular .popular-item .popular-links {
    opacity: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
}
  
.popular .popular-item .popular-links a {
    color: #fff;
    margin: 0 2px;
    font-size: 28px;
    display: inline-block;
    transition: 0.3s;
  }

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px; 
}
  
.no-gutters {
    margin-right: 0;
    margin-left: 0; 
}

.no-gutters > .col, .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }
  
.col-md, .col-md-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0; 
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card {
    margin: 0 auto;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
padding: 30px 0;
overflow: hidden;
}

.section-bg {
background-color: #ffffff;
}

.section-title {
padding-bottom: 30px;
text-align: center;
}

.section-title h2 {
font-size: 28px;
font-weight: 300;
margin-bottom: 20px;
padding-bottom: 0;
color: #58595E;
}

.section-title h2 strong {
font-weight: 700;
}

.section-title p {
margin-bottom: 0;
}
  
/*--------------------------------------------------------------
# MEDIA QUERIES 
--------------------------------------------------------------*/


  /* Disable AOS delay on mobile */
@media screen and (max-width: 767px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }

    .col-md, .col-md-auto {
        margin-top: 0.9rem;
        margin-bottom: 0.9rem;
    }

    .card {
        min-width: 20rem;
    }
  }
  
@media (min-width: 768px) and (max-width: 1024px) {
    .popular-container {
        max-width: 80%;
    }
    
    .col-md, .col-md-auto {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
        margin-right: 0.5rem;
        margin-left: 0.5rem; 
    }
}

@media (min-width: 1025px) and (max-width: 1366px) {
    .popular-container {
        max-width: 77%;
    }
    
    .col-md, .col-md-auto {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        margin-right: 0.5rem;
        margin-left: 0.5rem;  
    }

    .card {
        min-width: 18rem;
    }
}


@media (min-width: 1440px) {
    .popular-container {
        max-width: 70%;
    }

    .col-md, .col-md-auto {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem; 
    }

    .card {
        min-width: 20rem;
    }
}